body{
     overflow-x: hidden;
     margin: 0;
}

#mainNav {
     background-color: #212529;
   }
.card{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}

header.pageMenu{
     text-align: center;
     color: white;
     background-image: url("../IMG/header.png");
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center center;
     background-size: cover;
     
}
header.pageMenu .intro-text {
     padding-top: 150px;
     padding-bottom: 500px;
   }
   
header.pageMenu .intro-text .intro-lead-in {
     font-size: 22px;
     font-style: italic;
     line-height: 22px;
     margin-bottom: 25px;
     font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   }
   
header.pageMenu .intro-text .intro-heading {
     font-size: 50px;
     font-weight: 700;
     line-height: 50px;
     margin-bottom: 25px;
     font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   }
section {
     padding: 0px 0;
   }

#Projets{
     background: #212529;
     padding-top: 25%;
     padding: 10%;
}
#Compétences{
     background: #ffffff;
     padding-top: 6%;
     padding-bottom: 0;
}
#Expériences{
     background: #212529; 
     padding-top: 6%;
     padding-bottom: 0; 
}

div#slider{     
     position: relative;
     left:25%;
     width: 80%; 
     max-width: 640px; 
     overflow: hidden;
     padding-top: 3%;
}

div#slider figure{
     position: relative;
     width: 300%;
     font-size: 10px;
     text-align: center;
     animation: 30s slidy infinite;
}

div#slider figure img{ width: 33%;  }



@-webkit-keyframes slidy {
     0%{left:0%}
     20%{left:0%;}
     25%{left:-100%;}
     45%{left:-100%;}
     50%{left:-200%;}
     60%{left:-200%}
     70%{left:0%;}
}

@keyframes slidy {
     0%{left:0%}
     20%{left:0%;}
     25%{left:-100%;}
     45%{left:-100%;}
     50%{left:-200%;}
     60%{left:-200%}
     70%{left:0%;}
}

