body{
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}

#mainNav {
    background-color: #ffffff;
  }

  #Compétences{
    background: #ffffff;

  }
  h2#Contact{
     color: #ffffff;
}
section {
  position: relative;
  padding: 34px 0px; 
  }

  h2{
    color:white;
  }

  .coeur{
    left: 25% ;
  }
