body{
    overflow-x: hidden;
    margin: 0;
}

#mainNav {
    background-color: #ffffff;
  }

  #Compétences{
    background: #ffffff;

  }
  h2#Contact{
     color: #ffffff;
}
section {
  padding: 50px 20px;
  }

