body{
    overflow-x: hidden;
    margin: 0;
}
#mainNav {
    background-color: #ffffff;
  }


#Contact{
     background: #212529; 

}
h2#Contact{
    color: #ffffff;
}
section {
    padding: 100px 0;
  }

