body{
    overflow-x: hidden;
    margin: 0;
}

#mainNav {
    background-color: #ffffff;

  }

  section {
    padding: 25px 0;
  }
.card-deck{
  padding: 20px;
  margin: 0 auto;
  border-radius: 3px;
  padding-top: 0;
}

h5{
  color: black;
}

#Diplomes{
  background-color: #533a3557;
}