body{
  overflow-x: hidden;
  margin: 0;
}

.card{
  width: 112%;
}
#Expériences{
   background: #212529; 
   padding-top: 5%;
   padding-bottom: 300px;
   background-size: cover;
   width: 100%;
   min-height: 100vh;
}

h2{
  color: #ffffff;
}

h5{
  color: #ffffff;
}

.col-sm-3{
  padding-bottom: 20px;
}
#blog{
  margin: 2%;
  color: #fd1818;
  padding-left:6%;
}
#rapport{
  margin: 2%;
  color: #fd1818;
  padding-left:6%;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 6%;
}